@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto";
}
body{
		background: #ededed;
	}

.navbar{
	background: #111B47;
	font-family: "Roboto";
}

.navbar li{
	color: #c2c2c2;
}

.navbar a{
	color: #c2c2c2;
}

.form-group label{
	font-family: "Roboto";
	font-size: 18px;
}
.wrapper{
	display: flex;
	justify-content: center;
	margin: auto;
}