@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto";
}
body{
		background: #ededed;
	}

.navbar{
	background: #111B47;
	font-family: "Roboto";
}

.navbar li{
	color: #c2c2c2;
}

.navbar a{
color: #c2c2c2;
}

.card{
	border-radius: 25px;
	border: 5px #111B47 solid;
	font-family: "Roboto";
	height: auto;
	width: auto;
	padding: auto;
	margin: auto;
	line-height: 1.4;

}

.card-body{
	border-radius: 25px;
	text-align: center;
}

.card-body h5{
		margin-top: 30px;
		font-weight: 700;
		font-size: 1.4em;
}

.card-footer a{
	color: black;
	background: #D0CDE1;
}

.modal-bg{
	position: fixed;
	width: 100%;
	height: 100vh;
	top:0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s opacity 0.5s;
}

.bg-active{
	visibility: visible;
	opacity: 1;
}

.modal{
	font-family: 'Montserrat', san-serif;
	background-color: white;
	width: 35%;
	height: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.modal button{
	padding: 10px 30px;
	background-color: #2980b9;
	color: white;
	border: none;
	font-family: 'Montserrat', san-serif;
	cursor: pointer;
}

.container{
	font-style: "Roboto"
	border: 5px #111B47 solid;
}


@media (max-width: 100vh){
	.card-body h5{
		margin-top: 30px;
		font-weight: 700;
		font-size: 1.6em;
	}
	.card-text p{
		font-size: 1.4em;
	}
}