@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto";
}
body{
	height: 100vh;
	overflow: none;
	font-family: "Roboto";
}

.navbar{
	background: #111B47;
	font-family: "Roboto";
}

.navbar li{
	color: #c2c2c2;
}

.navbar a{
	color: #c2c2c2;
}

.wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
}

.right{
	flex: 1.5;
	width: 100%;
	background: rgb(24,24,24)
}

.right img{
	width: 80%;
	height: auto;
	margin: auto;
	display: block;

}

.left{
	flex: 1;
	margin-top: 20px;
	width: 100%;
	margin: auto;
}

@media screen and (min-width: 0px) and (max-width: 1080px){
	.right{
		display: none;
	}

	.wrapper{
		display: unset;
	}
}
