@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto";
}
body{
		background: #ededed;
	}

.navbar{
	background: #111B47;
	font-family: "Roboto";
}

.navbar li{
	color: #c2c2c2;
}

.navbar a{
color: #c2c2c2;
}

.user-details h3{
	font-size: 18px;
	display:  inline-block;
	margin: 18px 40px;
	font-weight: normal;
	
}

.user-details{
	margin-bottom: 30px;
	border: 5px #111B47 solid;
	border-radius: 25px;
		background:#ededed
}

.user-details span{
	font-weight: 500;
	font-size: 20px;
	letter-spacing: 2px;
}