*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	line-height: 1.5;
	background: #fddcc356;

}

a{
	text-decoration: none;
	color: black
}

.btn{
	display: inline-block;
	padding: 10px 30px;
	background: #654321 ;
	color: #fff;
	border: 1px #fff solid;
	border-radius: 5px;
	margin-top: 25px;
	opacity: 0.7
}
