@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	line-height: 1.5;
	background: #fddcc356;
}

a{
	text-decoration: none;
}

h1{
	font-weight: 300;
	font-size: 60px;
	line-height: 1.2;
	margin-bottom: 15px;
}	
 
.showcase {
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align:  center;
	padding: 0 20px;
	color: #fff
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.video-container video{
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.video-container:after {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);

}

.content {
	z-index: 10;
}

.btn{
	display: inline-block;
	padding: 10px 30px;
	background: #654321 ;
	color: #fff;
	border: 1px #fff solid;
	border-radius: 5px;
	margin-top: 25px;
	opacity: 0.7
}

.btn:hover {
	transform: scale(0.95)
}

#about {
	padding: 40px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 10px;
	flex-direction: column;
}

#about p{
	font-size: 1.2rem;
	max-width: 600px;
	margin: auto;
}

#about h2{
	margin: 30px 0;
}

.social a {
	margin:0;
}

/* Section 2*/
html{
	font-family: 'Montserrat'
}

#work{
	min-height: 50vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


.container{
	width: 90%;
	max-width: 1250px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 50px
}

.container-2{
	flex-direction: column;
}



.left{
	width: 60%;
	height: 300px;
	background: url(./deploy-photo.jpg) no-repeat center/cover;
	border-radius:8px;	
}

.right {
	width: 40%;
	height:250px;
	background-color:  #2f3d3c;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	border-radius: 8px;
	color: white;
	margin-left: -150px;
	border:2px white solid ;

}

.right h1{
	font-size: 40px;
	font-weight: lighter;
}

.right p{
	margin: 20px 0 ;
	font-weight: 500;
	line-height: 25px;
}

.left-2{
	width: 60%;
	height: 500px;
	background: url(./plan-photo.jpeg) no-repeat center/cover;
	border-radius:8px;	

}

.right-2 {
	width: 40%;
	height:250px;
	background-color: #fddcc356;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	border-radius: 8px;
	color: #2f3d3c;
	margin-right: -150px;
	z-index: 2;
	border: 2px black solid ;
}

.right-2 h1{
	font-size: 40px;
	font-weight: lighter;
}

.right-2 p{
	margin: 20px 0 ;
	font-weight: 500;
	line-height: 25px;
}

.left-3{
	width: 60%;
	height: 300px;
	background: url(./prepare-photo.jpg) no-repeat center/cover;
	border-radius:8px;	
}



/*Slider*/
/* Slideshow container */
/*.slideshow-container {
 margin-top: 50px;
 position: relative;
 background: #2f3d3c;
	width: 90%;
	max-width: 1250px;
	margin: 0 auto;
	display: flex;
}*/
.slideshow-container {
margin-top: 50px;
 position: relative;
 background:  #2f3d3c;
 width: 90%;
max-width: 1250px;
margin: auto

}


/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
  	display: flex;
	align-items: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #fddcc356;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
.mySlides q {
	font-style: italic;
	color: white;
}

/* Add a blue color to the author */
.author {color: cornflowerblue;}

/*Footer*/

.testimonial_subtitle{
    color: #0aaa7a;
    font-size: 12px;
}
  .testimonial_btn{
    background-color: #373d4b !important;
    color: #fff !important;
 }
 .seprator {
    height: 2px;
    width: 56px;
    background-color: #0aaa7a;
    margin: 7px 0 10px 0;
}

/*footer*/
.col_white_amrc { 
	color:#FFF;
}
footer { 
	width:100%;
	 background:  #2f3d3c;
	min-height:250px;
	padding:10px 0px 25px 0px ;
}

.pt2 { padding-top:40px;
		margin-bottom:20px;
}

footer p { font-size:13px;
		color:#CCC;
		padding-bottom:0px;
		margin-bottom:8px;
		}

.mb10 {
	padding-bottom:15px;
}

.footer_ul_amrc { margin:0px ;
		 list-style-type:none ; 
		 font-size:14px; 
		 padding:0px 0px 10px 0px ;
}
.footer_ul_amrc li {
		padding:0px 0px 5px 0px;
}

.footer_ul_amrc li a{
 		color:#CCC;
}
.footer_ul_amrc li a:hover{ 
		color:#fff; text-decoration:none;
}
.fleft { 
	float:left;
}

.padding-right { 
	padding-right:10px;
}

.footer_ul2_amrc {margin:0px; 
	list-style-type:none; 
	padding:0px;
}

.footer_ul2_amrc li p {
	display:table; 
}

.footer_ul2_amrc li a:hover {
 text-decoration:none;
}
.footer_ul2_amrc li i {

 margin-top:5px;
}

.bottom_border { 
	border-bottom:1px solid #323f45;
 	padding-bottom:20px;
}

.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { 
	display:inline;
}

.foote_bottom_ul_amrc li a { 
	color:#999; 
margin:0 12px;
}

.social_footer_ul {
 display:table; margin:15px auto 0 auto; 
 list-style-type:none; 
 }

.social_footer_ul li {
 padding-left:20px; 
 padding-top:10px; 
float:left; 
}

.social_footer_ul li a {
 color:#CCC; 
 border:1px solid #CCC;
 padding:8px;
 border-radius:50%;
}

.social_footer_ul li i {  
	width:20px;
	 height:20px; 
	 text-align:center;
	}



@media only screen and (max-width: 768px){
	.container{
		flex-direction: column;
		width: 100%;
		margin: 0 20px;

	}
	.left{
		width: 100%;
		height: 400px;
	}
	.right{
		width: 80%;
		margin: 0;
		margin-top: -100px;
	}

	.left-2{
		width: 100%;
		height: 400px;

	}
	.right-2{
		width: 80%;
		margin: 0;
		z-index: 2;
		margin-bottom:  -100px;
		padding: 20px;
	}

.slideshow-container {
margin-top: 50px;

}